p {
  font-size: 1.2rem;
}

button {
  background-color: #2E3440;
  border: none;
  border-radius: 0.2em;
  margin: 0.1em;
  font-size: 3em;
  color: #ECEFF4;
  outline: none;
}

#top button {
  display: grid;
  place-items: center;
  padding: 0 0 0 0;
  height: 1.2em;
  width: 1.2em;
}

#ResetSVG {
  height: 1.2em;
  width: 1.2em;
}

#BackSVG {
  height: 0.85em;
  width: 0.85em;
}

#top {
  display: flex;
}